/*desktop style */
body {
    background-color: lightblue;
    color: white;
    font-family: Helvetica, "Times New Roman", sans-serif;
    


    /*phone*/

    @media (max-width: 600px) {
        body {
            margin: 6px;
            color: darkblue;
               }
            header{
                font-size: 6px;
                color: gray;
            }
            #name{
                font-size: 8px;
                color: purple;
            }
            }
        }

    /*tablet*/
    @media (max-width: 1000px) {
        body {
        margin: 8px;
        color: white;
           }
        header{
            font-size: 8px;
            color: gray;
        }
        #name{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: 100;
            font-size: 50px;
            color: rgb(29, 46, 200);
        }
        }



section{
    margin: 50px;
    padding: 20px;
    font-size: x-large;
    
}

#connect ul{
    display: flex; 
    flex-direction: row;
    color:black;
    gap: 2px;
    list-style:none;
    background: #3399ff;
    padding: 100px;
}

#connect ul li{
    
    width: 10px;
    height: 15px;
    border-radius: 11%;
    margin-left: 300px;
    margin-bottom: 20px;
    padding: 20px;
    font-size: large;
}
h1{
    font-weight: 300;
    font-family: sans-serif;
    font-size: 100px;
    color: blue;
    margin-left: 350px;
}
h2 {
    margin-left: 600px;
    font-size: 28px;
    font-weight: bold;
    color:aliceblue;
}

#experience ul{
    display: flex; 
    font-size: 25px;
    list-style:none;
    background: #3399ff;
    padding: 100px;
}

#experience ul li{
    background: cce5ff;
    color: darkblue;
    padding: 10px;
    margin: 10px;
    list-style-type: none;
    flex: 1;
    margin-left: 75px;
}
p{
    margin-left: 74px;
}
#messages ul{
    margin: 50px;
    padding: 50px;
}

#MessageForm{
    margin-left: 500px;
    padding: 50px;

}


#skills ul{
    display: flex; 
    flex-direction: row;
    color:white;
    gap: 350px;
    list-style:none;
    background: #3399ff;
    padding: 100px
}

#skills li{
    margin-left: 50px;
}


#projects ul{
    display: flex; 
    flex-direction: row;
    color:white;
    gap: 45px;
    list-style:none;
    background: #3399ff;
    padding: 100px;
}

#navigation ul{
    margin-left: 125px;
    display: flex;
    flex-direction: row;
    gap: 150px;
    border-radius: 4px;
    border-color: aliceblue;
}

img{
    margin-left: 75px;
}
#usersNameId{
    height: 30px;
    margin-bottom: 5px;
    width: 300px;
}
#emailID{
    height: 30px;
    width: 350px;
    margin-top: 5px;
}
textarea{
    height: 100px;
    width: 400px;
    margin-right: 500px;
}